<div class="row gx-5 pt-5">
    <div class="col">
        <h2 class="text-center">User Actions</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">User Full name</h5>
                    <small>Action date</small>
                </div>
                <p class="mb-1">User action</p>
            </li>
            <h5 class="text-center">No user actions today</h5>
        </ul>
    </div>
    <div class="col">
        <h2 class="text-center">Registrations Today (0)</h2>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Participant Name</h5>
                    <small>Participant email</small>
                </div>
                <p class="mb-1">School name, ib code</p>
                <p class="mb-1">Workshop title<br /><small>Workshop dates</small></p>
                <p class="mb-1">Accommodations: Hotel needed?</p>
                <p class="mb-1">Paying with: Payment type</p>
            </a>
            <h5 class="text-center">No registrations today</h5>
        </div>
    </div>
</div>
