<div class="col-12 col-md-8 col-lg-6 mx-auto">
    <h2 class="text-center mb-4">Login</h2>
    <form action="">
        <mdb-form-control>
            <input mdbInput type="email" id="email" class="form-control">
            <label mdbLabel class="form-label" for="email">Email</label>
        </mdb-form-control>
        <mdb-form-control class="my-4">
            <input mdbInput type="password" id="password" class="form-control">
            <label mdbLabel class="form-label" for="password">Password</label>
        </mdb-form-control>
        <div class="d-flex justify-content-between">
            <p class="my-auto">Forgot your password? <a href="">Reset it!</a></p>
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>