<form action="">
    <div class="row">
        <div class="col-12 col-lg-9">
            <mdb-form-control>
                <input mdbInput type="text" name="school-name" class="form-control" />
                <label mdbLabel class="form-label" for="school-name">School Name</label>
            </mdb-form-control>
        </div>
        <div class="col-12 col-lg-3">
            <mdb-form-control>
                <input mdbInput type="number" name="school-ib-code" class="form-control" />
                <label mdbLabel class="form-label" for="school-ib-code">IB Code</label>
            </mdb-form-control>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <mdb-form-control>
                <input
                    mdbInput
                    type="text"
                    name="school-address-1"
                    class="form-control"
                    aria-describedby="text-address-1"
                />
                <label mdbLabel class="form-label" for="school-address-1">Address Line 1</label>
            </mdb-form-control>
            <div id="text-address-1" class="form-text m-0">Street address, PO Box, Company name, C/O, etc.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <mdb-form-control>
                <input
                    mdbInput
                    type="text"
                    name="school-address-2"
                    class="form-control"
                    aria-describedby="text-address-2"
                />
                <label mdbLabel class="form-label" for="school-address-2">Address Line 2</label>
            </mdb-form-control>
            <div id="text-address-2" class="form-text m-0">Apartment, suite, unit, building, floor, etc.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <mdb-form-control>
                <input mdbInput type="text" name="school-city" class="form-control" />
                <label mdbLabel class="form-label" for="school-city">City</label>
            </mdb-form-control>
        </div>
        <div class="col-12 col-lg-4">
            <mdb-form-control>
                <input mdbInput type="text" name="school-state" class="form-control" />
                <label mdbLabel class="form-label" for="school-state">State/Province/Region</label>
            </mdb-form-control>
        </div>
        <div class="col-12 col-lg-4">
            <mdb-form-control>
                <input mdbInput type="text" name="school-zip" class="form-control" />
                <label mdbLabel class="form-label" for="school-zip">Zip/Postal Code</label>
            </mdb-form-control>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <mdb-form-control>
                <mdb-select [filter]="true">
                    <mdb-option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</mdb-option>
                </mdb-select>
                <label mdbLabel class="form-label">Country</label>
            </mdb-form-control>
        </div>
    </div>
    <div class="row">
        <h4 class="mt-3 text-muted">Coordinator</h4>
        <div class="col-lg">
            <mdb-form-control class="mt-0">
                <input mdbInput type="text" name="school-coordinator-name" class="form-control" />
                <label mdbLabel class="form-label" for="school-coordinator-name">Name</label>
            </mdb-form-control>
        </div>
        <div class="col-md">
            <mdb-form-control class="mt-0">
                <input mdbInput type="email" name="school-coordinator-email" class="form-control" />
                <label mdbLabel class="form-label" for="school-coordinator-email">Email</label>
            </mdb-form-control>
        </div>
        <div class="col-md">
            <mdb-form-control class="mt-0">
                <input mdbInput type="tel" name="school-coordinator-phone" class="form-control" />
                <label mdbLabel class="form-label" for="school-coordinator-phone">Phone</label>
            </mdb-form-control>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-end">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </div>
</form>
