<div class="row">
    <div class="col-12 col-md-8 mx-auto">
        <h2 class="text-center mb-5">Change Password</h2>
        <form action="">
            <mdb-form-control>
                <input mdbInput class="form-control" type="password" name="oldPassword" id="oldPassword" />
                <label mdbLabel class="form-label" for="oldPassword">Old Password</label>
            </mdb-form-control>
            <mdb-form-control class="my-4">
                <input mdbInput class="form-control" type="password" name="newPassword" id="newPassword" />
                <label mdbLabel class="form-label" for="newPassword">New Password</label>
            </mdb-form-control>
            <mdb-form-control class="my-4">
                <input
                    mdbInput
                    class="form-control"
                    type="password"
                    name="confirmNewPassword"
                    id="confirmNewPassword"
                />
                <label mdbLabel class="form-label" for="confirmNewPassword">Confirm New Password</label>
            </mdb-form-control>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
