<div class="row">
    <div class="col-12 col-md-8 mx-auto">
        <h2 class="text-center mb-5">Create New User</h2>
        <form action="">
            <mdb-form-control>
                <input mdbInput class="form-control" type="text" name="firstName" id="firstName" />
                <label mdbLabel class="form-label" for="firstName">First Name</label>
            </mdb-form-control>
            <mdb-form-control class="my-4">
                <input mdbInput class="form-control" type="text" name="lastName" id="lastName" />
                <label mdbLabel class="form-label" for="lastName">Last Name</label>
            </mdb-form-control>
            <mdb-form-control class="my-4">
                <input mdbInput class="form-control" type="email" name="email" id="email" />
                <label mdbLabel class="form-label" for="email">Email</label>
            </mdb-form-control>
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-lg" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12 col-md-8 mx-auto">
        <h2 class="text-center my-4">Current Users</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <a routerLink="/account/slug" class="h5 text-body">User name</a>
                    <small>User email</small>
                </div>
                <p>Last login date</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <a routerLink="/account/slug" class="h5 text-body">User name</a>
                    <small>User email</small>
                </div>
                <p>Last login date</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <a routerLink="/account/slug" class="h5 text-body">User name</a>
                    <small>User email</small>
                </div>
                <p>Last login date</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <a routerLink="/account/slug" class="h5 text-body">User name</a>
                    <small>User email</small>
                </div>
                <p>Last login date</p>
            </li>
            <li class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <a routerLink="/account/slug" class="h5 text-body">User name</a>
                    <small>User email</small>
                </div>
                <p>Last login date</p>
            </li>
        </ul>
    </div>
</div>
